@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --inconsolata: "Inconsolata", monospace;
  --space-mono: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header h1 {
  position: relative;
  top: 20px;
  left: 24px;
  font-family: var(--inconsolata);
  font-size: 24px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.container img {
  margin: 90px auto;
  width: 100%;
  padding: 0 32px;
  max-width: 540px;
}

.content {
  margin-top: -60px;
  padding: 0 12px;
}

.content h2 {
  font-family: var(--space-mono);
  color: rgb(51, 51, 51);
  font-size: 3em;
  line-height: 71px;
  letter-spacing: -0.03em;
  max-width: 350px;
}

.content p {
  font-family: var(--space-mono);
  font-size: 18px;
  color: rgb(79, 79, 79, 1);
  font-size: 1.1em;
  letter-spacing: 0.03em;
  line-height: 27px;
  margin: 30px 0;
  max-width: 320px;
}

.content a {
  display: inline-block;
  font-family: var(--space-mono);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.03em;
  line-height: 21px;
  color: #ffffff;
  border: 1px solid black;
  background-color: rgb(37, 36, 36);
  padding: 1.25rem;
  margin: 30px 0;
  transition: background-color 1s;
}

.content a:hover {
  background-color: rgba(24, 23, 23, 0.9);
}

footer {
  margin-top: 3.75rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(189, 189, 189, 1);
  line-height: 17px;
  text-align: center;
}

@media (min-width: 396px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1020px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .container img {
    margin: 90px 0;
    margin-right: 50px;
  }

  .content {
    margin-top: 50px;
  }

  footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 3px;
    width: 100%;
  }
}
